<%= render "new_activity_form" %>

<div class="row">
  <% if @activities.empty? %>
    <div class="app-private">No activities present</div>
  <% else %>
    <% index = 0 %>
    <% @activities.group_by{|e| e.created_at.to_date}.each do |c_date, activity_arr| %>
      
      
        <h4> <a class="btn" data-toggle="collapse" data-target='<%= "#date-#{index}" %>' > <%= c_date.to_s %> </a></h4>
        <div class="container collapse" id='<%= "date-#{index}" %>' >
        <% activity_arr.each do |activity| %>
          <% if false %>
            <div class="btn-group">
              <%= link_to "Close", close_activity_url(activity), :class => "btn btn-primary app-private" if !activity.closed? %>
              <%= link_to "Open", open_activity_url(activity), :class => "btn btn-primary app-private" if activity.closed? %>
              <%= link_to "Edit", edit_activity_url(activity), :class => "btn btn-primary app-private" %>
            </div>
          <% end %>
          <div class="well activity_item draggable-element col-sm-3 col-md-3 col-lg-3">
            <%= hidden_field(:activity, :priority, :value => activity.priority) %>
            <%= hidden_field(:activity, :created_at, :value => activity.created_at.to_date) %>
            <%= simple_format(h activity.content.to_s) %>
            <i>
              <% if false %>
                <%= "created #{Time.parse(activity.created_at.inspect).httpdate}" %>
              <% end %>
            </i>
          </div>
        <% end %>
      </div>
      <% index = index + 1 %>
    <% end %>
  <% end %>
</div>
