
<div class="row">
  <% if @activities.empty? %>
    <div class="app-private">No activities present</div>
  <% else %>
    <% @activities.each do |a| %>
      <div class="btn-group">
        <%= link_to "Close", close_activity_url(a), :class => "btn btn-primary app-private" if !a.closed? %>
        <%= link_to "Open", open_activity_url(a), :class => "btn btn-primary app-private" if a.closed? %>
        <%= link_to "Edit", edit_activity_url(a), :class => "btn btn-primary app-private" %>
      </div>
      <div class="well"><%= a.content.to_s %></div>
      <p class="app-private">- created on <%= "#{a.created_at}" %></p>
    <% end %>
  <% end %>
</div>
